<h2>新規登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "public/users/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :name, "名前" %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "ニックネーム" %>
  </div>

  <div class="field">
    <%= f.label :email, "メールアドレス" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "email@sample.com" %>
  </div>

  <div class="field">
    <%= f.label :sex, "性別" %><br />
    <%= f.select :sex, User.sexes.keys.map{|k| [I18n.t("enums.user.sex.#{k}"), k]},
      include_blank: '選択してください', autofocus: true, autocomplete: "sex" %>
  </div>

  <div class="field">
    <%= f.label :age, "年齢" %><br />
    <%= f.select :age, User.ages.keys.map{|k| [I18n.t("enums.user.age.#{k}"), k]},
      include_blank: '選択してください', autofocus: true, autocomplete: "age" %>
  </div>

  <div class="field">
    <%= f.label :area, "地域" %><br />
    <%= f.select :area, User.areas.keys.map{|k| [I18n.t("enums.user.area.#{k}"), k]},
      include_blank: '選択してください', autofocus: true, autocomplete: "area" %>
  </div>

  <div class="field">
    <%= f.label :password, "パスワード" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %>文字以上)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "パスワード(確認用)" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions mt-3 mb-5">
    <%= f.submit "新規登録" %>
  </div>
<% end %>

<h3>会員登録済みの方はこちら</h3>
  <%= render "public/users/shared/links" %>
