<h3>ジャンル一覧</h3>
<% @genres.each do |genre| %>
  <p>
    <%= link_to questions_path(genre_id: genre.id) do %>
      <%= genre.name %>
    <% end %>
  </p>
<% end %>

<h3>キーワード検索</h3>
<%= form_with url:search_questions_path, local:true, method: :get do |f| %>
  <%= f.text_field :keyword, placeholder: "キーワードを入力" %>
  <%= f.submit "検索" %>
<% end %>

<%= form_with method: :get do |f| %>
  <% if @sorted.present? %>
    <%= f.select :sort, @sort_list, selected: @sorted, onChange: "javascript: this.form.submit();" %>
  <% else %>
    <%= f.select :sort, @sort_list, {}, onChange: "javascript: this.form.submit();" %>
    <%= f.hidden_field :genre_id, :value => @genre&.id %>
  <% end %>
<% end %>

<%= link_to "新規投稿", new_question_path %>
<%= link_to "CSV出力", questions_path(format: :csv) %><br>

<h2><%= @name + '一覧（全' + @questions.count.to_s + '件）' %></h2>
<% @questions.each do |question| %>
  <%= attachment_image_tag question.user, :image, size: "50x50", fallback: "no_image.jpg" %>
  <%= question.user.name %>
  <%= question.created_at.strftime('%Y/%m/%d') %>
  <%= link_to question_path(question) do %>
    <%= 'あなたは' + question.object1 + '派 or ' + question.object2 + '派？' %>
  <% end %>
  <%= question.body %>
  <%= Answer.where(question_id: question.id, answer: 0).count %>
  <%= Answer.where(question_id: question.id, answer: 1).count %>
  <%= question.genre.name %><br>
<% end %>
