<div class="row">
  <%= render partial: 'public/questions/genre', locals: { genres: @genres } %>

  <div class=col-md-9>
    <h2><%= @title %></h2>

    <div class="question">
      <% @questions.each_with_index do |question,num| %>
        <div class="card">
          <div class="card-header">
            <%= link_to question_path(question) do %>
              <h3><%= question.object1 + '派 or ' + question.object2 + '派？' %></h3>
            <% end %>
          </div>

          <div class="card-body">
            <p>
              <%= attachment_image_tag question.user, :image, size: "70x60", fallback: "noimage.jpg" %>
              <%= question.created_at.strftime('%Y/%m/%d') %>
              <%= question.user.name %>
            </p>
            <p class="ml-3"><%= question.body %></p>
            <%= render partial: 'layouts/piechart',
              locals: { question: question,
              answers0: Answer.where(question_id: question.id, answer: 0),
              answers1: Answer.where(question_id: question.id, answer: 1),
              chart_name: num}%>
          </div>
          <div class="card-footer">
            <p>
              <i class="fas fa-comment"></i>
              <%=question.comments.count %>
              <i class="far fa-thumbs-up"></i>
              <%=question.favorites.count %>
              <span class="green"><%= "＃#{question.genre.name}" %></span>
            </p>
          </div>
        </div>
      <% end %>
    </div>
    <%= paginate @questions %>
  </div>
</div>