<%= attachment_image_tag @question.user, :image, size: "50x50", fallback: "no_image.jpg" %>
  <%= @question.user.name %>
  <%= @question.created_at.strftime('%Y/%m/%d') %>

  <%= 'あなたは' + @question.object1 + '派 or ' + @question.object2 + '派？' %>
  <%= @question.body %>
  <%= @question.genre.name %>

<h3>投票結果</h3>
  <%= @question.object1 + "派　　" + @counts_object1.to_s %>
  <%= @question.object2 + "派　　" + @counts_object2.to_s %>

<div style="width:500px; height:300px;">
<canvas id="myPieChart"></canvas>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
<script>
  var ctx = document.getElementById("myPieChart");
  var myPieChart = new Chart(ctx, {
    type: 'pie',
    data: {
      labels: ["<%=@question.object1 %>派", "<%= @question.object2 %>派"],
      datasets: [{
          backgroundColor: [
              "#BB5179",
              "#FAFF67"
          ],
          data: [<%= @counts_object1.to_s %>, <%= @counts_object2.to_s %>]
      }]
    },
    options: {
      title: {
        display: true,
        text: 'アンケート結果'
      }
    }
  });
  </script>
</div>

  <% if @question.user == current_user %>
    <%= link_to "編集", edit_question_path %>
    <%= link_to "削除", question_path(@question.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
  <% end %>

  <div id="favorite_<%= @question.id %>">
    <%= render partial: 'public/favorites/favorites', locals: { question: @question } %>
  </div>


  <h3>投票</h3>

      <%= form_with model:@answer, url:answer_path, local:true do |f| %>
        <%= f.radio_button :answer, 0 %>
        <%= f.label :answer, @question.object1 + "派" %>
        <%= f.radio_button :answer, 1 %>
        <%= f.label :answer, @question.object2 + "派" %>
        <%= f.hidden_field :question_id, :value => @question.id %>
        <%= f.submit "投票" %>
      <% end %>

  <h3>コメント</h3>
    <%= form_with model: [@question, @comment], local:true do |f| %>
      <%= f.text_area :body, placeholder: "コメントを入力" %>
      <%= f.submit "コメントする" %>
    <% end %>


    <% @question.comments.each do |comment| %>
      <%= attachment_image_tag comment.user, :image, size: "50x50", fallback: "no_image.jpg" %>
      <%= comment.user.name %>
      <%= comment.created_at.strftime('%Y/%m/%d') %>
      <%= comment.body %>
      <% if comment.user == current_user %>
        <%= link_to "削除", question_comment_path(comment.question, comment), method: :delete, "data-confirm" => "本当に削除しますか？"  %>
      <% end %>
    <% end %>

