<div class="row">
  <div class="col-md-10">
    <%= render partial: 'layouts/message', locals: { model: @answer, model: @comment } %>

    <div class="question">
      <div class="card">
        <div class="card-header">
          <h2><%= "あなたは#{@question.object1}派 or #{@question.object2}派？" %></h2>
        </div>

        <div class="card-body">
          <p>
            <%= attachment_image_tag @question.user, :image, size: "40x40", fallback: "noimage.jpg" %>
            <%= @question.user.name %>
            <%= @question.created_at.strftime('%Y/%m/%d') %>
            <span class="green"><%= "＃#{@question.genre.name}" %></span>
          </p>
          <p class="mb-3"><%= @question.body %></p>

          <div class="text-right">
            <% if @question.user == current_user %>
              <%= link_to "編集", edit_question_path, class: "btn btn-link" %>
              <%= link_to "削除", question_path(@question.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-link mr-2" %>
            <% end %>
          </div>

          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a  href="#all" class="nav-link active" data-toggle="tab">全体</a>
            </li>
            <li class="nav-item">
              <a  href="#sex" class="nav-link" data-toggle="tab">性別別</a>
            </li>
            <li class="nav-item">
              <a  href="#age" class="nav-link" data-toggle="tab">年齢別</a>
            </li>
            <li class="nav-item">
              <a  href="#area" class="nav-link" data-toggle="tab">地域別</a>
            </li>
          </ul>

          <div class="tab-content">
            <div id="all" class="tab-pane active">
              <p class="mt-3 ml-3">
                <%= "#{@question.object1}派 #{@question.answers0.count}" %>
                <%= "/ #{@question.object2}派 #{@question.answers1.count}" %>
              </p>
              <%= render partial: 'layouts/piechart', locals: { question: @question, answers0: @question.answers0, answers1: @question.answers1, chart_name: "all"} %>
            </div>

            <div id="sex" class="tab-pane">
              <h3 class="mt-3 ml-3"><%= User.sexes_i18n[:man] %></h3>
              <p class="mt-3 ml-3">
                <%= "#{@question.object1} 派 #{@question.answers0_man.count}" %>
                <%= "/ #{@question.object2} 派 #{@question.answers1_man.count}" %>
              </p>
              <%= render partial: 'layouts/piechart', locals: { question: @question, answers0: @question.answers0_man, answers1: @question.answers1_man, chart_name: "man"} %>

              <h3 class="mt-3 ml-3"><%= User.sexes_i18n[:woman] %></h3>
              <p class="mt-3 ml-3">
                <%= "#{@question.object1} 派 #{@question.answers0_woman.count}" %>
                <%= "/ #{@question.object2} 派 #{@question.answers1_woman.count}" %>
              </p>
              <%= render partial: 'layouts/piechart', locals: { question: @question, answers0: @question.answers0_woman, answers1: @question.answers1_woman, chart_name: "woman"} %>
            </div>

            <div id="age" class="tab-pane">
              <h3 class="mt-3 ml-3"><%= User.ages_i18n[:teens] %></h3>
              <p class="mt-3 ml-3">
                <%= "#{@question.object1} 派 #{@question.answers0_teens.count}" %>
                <%= "/ #{@question.object2} 派 #{@question.answers1_teens.count}" %>
              </p>
              <%= render partial: 'layouts/piechart', locals: { question: @question, answers0: @question.answers0_teens, answers1: @question.answers1_teens, chart_name: "teen"} %>

              <h3 class="mt-3 ml-3"><%= User.ages_i18n[:twenties] %></h3>
              <p class="mt-3 ml-3">
                <%= "#{@question.object1} 派 #{@question.answers0_twenties.count}" %>
                <%= "/ #{@question.object2} 派 #{@question.answers1_twenties.count}" %>
              </p>
              <%= render partial: 'layouts/piechart', locals: { question: @question, answers0: @question.answers0_twenties, answers1: @question.answers1_twenties, chart_name: "twenties"} %>

              <h3 class="mt-3 ml-3"><%= User.ages_i18n[:thirties] %></h3>
              <p class="mt-3 ml-3">
                <%= "#{@question.object1} 派 #{@question.answers0_thirties.count}" %>
                <%= "/ #{@question.object2} 派 #{@question.answers1_thirties.count}" %>
              </p>
              <%= render partial: 'layouts/piechart', locals: { question: @question, answers0: @question.answers0_thirties, answers1: @question.answers1_thirties, chart_name: "thirties"} %>

              <h3 class="mt-3 ml-3"><%= User.ages_i18n[:forties] %></h3>
              <p class="mt-3 ml-3">
                <%= "#{@question.object1} 派 #{@question.answers0_forties.count}" %>
                <%= "/ #{@question.object2} 派 #{@question.answers1_forties.count}" %>
              </p>
              <%= render partial: 'layouts/piechart', locals: { question: @question, answers0: @question.answers0_forties, answers1: @question.answers1_forties, chart_name: "forties"} %>

              <h3 class="mt-3 ml-3"><%= User.ages_i18n[:fifties] %></h3>
              <p class="mt-3 ml-3">
                <%= "#{@question.object1} 派 #{@question.answers0_fifties.count}" %>
                <%= "/ #{@question.object2} 派 #{@question.answers1_fifties.count}" %>
              </p>
              <%= render partial: 'layouts/piechart', locals: { question: @question, answers0: @question.answers0_fifties, answers1: @question.answers1_fifties, chart_name: "fifties"} %>

              <h3 class="mt-3 ml-3"><%= User.ages_i18n[:sixties] %></h3>
              <p class="mt-3 ml-3">
                <%= "#{@question.object1} 派 #{@question.answers0_sixties.count}" %>
                <%= "/ #{@question.object2} 派 #{@question.answers1_sixties.count}" %>
              </p>
              <%= render partial: 'layouts/piechart', locals: { question: @question, answers0: @question.answers0_sixties, answers1: @question.answers1_sixties, chart_name: "sixties"} %>
            </div>

            <div id="area" class="tab-pane">
              <h3 class="mt-3 ml-3"><%= User.areas_i18n[:hokkaidou] %></h3>
              <p class="mt-3 ml-3">
                <%= "#{@question.object1} 派 #{@question.answers0_hokkaidou.count}" %>
                <%= "/ #{@question.object2} 派 #{@question.answers1_hokkaidou.count}" %>
              </p>
              <%= render partial: 'layouts/piechart', locals: { question: @question, answers0: @question.answers0_hokkaidou, answers1: @question.answers1_hokkaidou, chart_name: "hokkaidou"} %>

              <h3 class="mt-3 ml-3"><%= User.areas_i18n[:touhoku] %></h3>
              <p class="mt-3 ml-3">
                <%= "#{@question.object1} 派 #{@question.answers0_touhoku.count}" %>
                <%= "/ #{@question.object2} 派 #{@question.answers1_touhoku.count}" %>
              </p>
              <%= render partial: 'layouts/piechart', locals: { question: @question, answers0: @question.answers0_touhoku, answers1: @question.answers1_touhoku, chart_name: "touhoku"} %>

              <h3 class="mt-3 ml-3"><%= User.areas_i18n[:kantou] %></h3>
              <p class="mt-3 ml-3">
                <%= "#{@question.object1} 派 #{@question.answers0_kantou.count}" %>
                <%= "/ #{@question.object2} 派 #{@question.answers1_kantou.count}" %>
              </p>
              <%= render partial: 'layouts/piechart', locals: { question: @question, answers0: @question.answers0_kantou, answers1: @question.answers1_kantou, chart_name: "kantou"} %>

              <h3 class="mt-3 ml-3"><%= User.areas_i18n[:cyuubu] %></h3>
              <p class="mt-3 ml-3">
                <%= "#{@question.object1} 派 #{@question.answers0_cyuubu.count}" %>
                <%= "/ #{@question.object2} 派 #{@question.answers1_cyuubu.count}" %>
              </p>
              <%= render partial: 'layouts/piechart', locals: { question: @question, answers0: @question.answers0_cyuubu, answers1: @question.answers1_cyuubu, chart_name: "cyuubu"} %>

              <h3 class="mt-3 ml-3"><%= User.areas_i18n[:kansai] %></h3>
              <p class="mt-3 ml-3">
                <%= "#{@question.object1} 派 #{@question.answers0_kansai.count}" %>
                <%= "/ #{@question.object2} 派 #{@question.answers1_kansai.count}" %>
              </p>
              <%= render partial: 'layouts/piechart', locals: { question: @question, answers0: @question.answers0_kansai, answers1: @question.answers1_kansai, chart_name: "kansai"} %>

              <h3 class="mt-3 ml-3"><%= User.areas_i18n[:cyuugoku] %></h3>
              <p class="mt-3 ml-3">
                <%= "#{@question.object1} 派 #{@question.answers0_cyuugoku.count}" %>
                <%= "/ #{@question.object2} 派 #{@question.answers1_cyuugoku.count}" %>
              </p>
              <%= render partial: 'layouts/piechart', locals: { question: @question, answers0: @question.answers0_cyuugoku, answers1: @question.answers1_cyuugoku, chart_name: "cyuugoku"} %>

              <h3 class="mt-3 ml-3"><%= User.areas_i18n[:shikoku] %></h3>
              <p class="mt-3 ml-3">
                <%= "#{@question.object1} 派 #{@question.answers0_shikoku.count}" %>
                <%= "/ #{@question.object2} 派 #{@question.answers1_shikoku.count}" %>
              </p>
              <%= render partial: 'layouts/piechart', locals: { question: @question, answers0: @question.answers0_shikoku, answers1: @question.answers1_shikoku, chart_name: "shikoku"} %>

              <h3 class="mt-3 ml-3"><%= User.areas_i18n[:kyuusyuu] %></h3>
              <p class="mt-3 ml-3">
                <%= "#{@question.object1} 派 #{@question.answers0_kyuusyuu.count}" %>
                <%= "/ #{@question.object2} 派 #{@question.answers1_kyuusyuu.count}" %>
              </p>
              <%= render partial: 'layouts/piechart', locals: { question: @question, answers0: @question.answers0_kyuusyuu, answers1: @question.answers1_kyuusyuu, chart_name: "kyuusyuu"} %>
            </div>
            <div id="favorite_<%= @question.id %>">
              <%= render partial: 'public/favorites/favorites', locals: { question: @question } %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="vote">
      <% if user_signed_in? %>
        <h2><i class="fas fa-bookmark"></i> 投票</h2>
        <%= form_with model:@answer, url:answer_path, local:true do |f| %>
          <%= f.radio_button :answer, 0 %>
          <%= f.label :answer_0, @question.object1 + "派", class: "mr-5" %>
          <%= f.radio_button :answer, 1 %>
          <%= f.label :answer_1, @question.object2 + "派", class: "mr-5"%>
          <%= f.hidden_field :question_id, :value => @question.id %>
          <%= f.submit "投票", class: "btn btn-primary btn-sm" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <h3 class="mt-3">コメント<i class="fas fa-comment"></i><%=@question.comments.count %></h3>
    <% if user_signed_in? %>
      <%= form_with model: [@question, @comment], local:true do |f| %>
        <%= f.text_area :body, placeholder: "コメントを入力", size: "40x3" %>
        <%= f.submit "コメントする", class: "btn btn-primary btn-sm mb-4 ml-3" %>
      <% end %>
    <% end %>

    <table class="table-borderless text-left">
      <% @question.comments.each do |comment| %>
        <tr>
          <td>
            <p class="mb-0">
              <%= attachment_image_tag comment.user, :image, size: "40x40", fallback: "noimage.jpg" %>
              <%= comment.user.name %>
              <%= comment.created_at.strftime('%Y/%m/%d') %>
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <p>
              <%= comment.body %>
              <% if comment.user == current_user %>
                <%= link_to "削除", question_comment_path(comment.question, comment), method: :delete, "data-confirm" => "本当に削除しますか？", class: "ml-3" %>
              <% end %>
            </p>
          </td>
        </tr>
       <% end %>
    </table>

  </div>
</div>
