<h2><%= @title %></h2>

<% @questions.each do |question| %>
  <%= attachment_image_tag question.user, :image, size: "50x50", fallback: "no_image.jpg" %>
  <%= question.user.name %>
  <%= question.created_at.strftime('%Y/%m/%d') %>

  <%= link_to admin_question_path(question) do %>
    <%= 'あなたは' + question.object1 + '派 or ' + question.object2 + '派？' %>
  <% end %>
  <%= question.body %>
  <%= question.genre.name %>
<% end %>