<div class="row">
  <%= render partial: 'admin/genres/genre', locals: { genres: @genres } %>

  <div class=col-md-9>
    <div class="row">
      <div class=col-md-8>
        <h2><%= @name + '一覧' %></h2>
      </div>

      <div class=col-md-4>
        <div class="row text-right ml-3">
          <%= form_with method: :get do |f| %>
            <% if @sorted.present? %>
              <%= f.select :sort, @sort_list, selected: @sorted, onChange: "javascript: this.form.submit();" %>
            <% else %>
              <%= f.select :sort, @sort_list, {}, onChange: "javascript: this.form.submit();" %>
              <%= f.hidden_field :genre_id, :value => @genre&.id %>
            <% end %>
          <% end %>

          <%= link_to admin_top_path(format: :csv) do %>
            <button type="button" class="btn btn-outline-primary btn-sm ml-3">CSV出力</button>
          <% end %>
        </div>
      </div>
    </div>

    <div class="table-responsive-md">
      <table class="table">
        <tr>
          <th>投稿日</th>
          <th>投稿者</th>
          <th>タイトル</th>
          <th>投票結果</th>
          <th>ジャンル</th>
          <th>コメント<br>いいね</th>
        </tr>

        <% @questions.each do |question| %>
          <tr>
            <td><%= question.created_at.strftime('%Y/%m/%d') %></td>
            <td>
              <%= link_to admin_user_path(question.user.id) do %>
                <%= attachment_image_tag question.user, :image, size: "70x60", fallback: "noimage.jpg" %>
                <br>
                <%= question.user.name %>
              <% end %>
            </td>
            <td>
              <%= link_to admin_question_path(question) do %>
                <%= question.object1 + '派 or ' + question.object2 + '派？' %>
              <% end %>
            </td>
            <td>
              <%= question.object1 + '派　' + Answer.where(question_id: question.id, answer: 0).count.to_s %>
              <br>
              <%= question.object2 + '派　' + Answer.where(question_id: question.id, answer: 1).count.to_s %>
            </td>
            <td><%= question.genre.name %></td>
            <td>
              <i class="fas fa-comment"></i>
              <%=question.comments.count %>
              <br>
              <i class="far fa-thumbs-up"></i>
              <%=question.favorites.count %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
    <%= paginate @questions %>
  </div>
</div>