<h3>会員情報編集</h3>

<%= form_with model:@user, url:users_path, local:true do |f| %>
  <%= f.label :name, "名前" %>
  <%= f.text_field :name %>

  <%= f.label :email, "メールアドレス" %>
  <%= f.email_field :email %>

  <%= f.label :image, "画像" %>
  <%= f.attachment_field :image %>

  <%= f.label :sex, "性別" %>
  <%= f.select :sex, User.sexes.keys.map{|k| [I18n.t("enums.user.sex.#{k}"), k]} %>

  <%= f.label :age, "年齢" %>
  <%= f.select :age, User.ages.keys.map{|k| [I18n.t("enums.user.age.#{k}"), k]} %>

  <%= f.label :area, "地域" %>
  <%= f.select :area, User.areas.keys.map{|k| [I18n.t("enums.user.area.#{k}"), k]} %>

  <%= f.submit "編集" %>
<% end %>
