<div class="canvas-container">
  <canvas id="<%=chart_name %>PieChart"></canvas>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
  <script>
    var ctx = document.getElementById("<%=chart_name %>PieChart");
    var myPieChart = new Chart(ctx, {
      type: 'pie',
      data: {
        labels: ["<%=question.object1 %>派", "<%= question.object2 %>派"],
        datasets: [{
            backgroundColor: [
                "#e6e6fa",
                "#fff8dc"
            ],
            data: [<%= answers0.count %>, <%= answers1.count %>]
        }],
        options: {
              responsive: true,
              maintainAspectRatio: false
        }
      },
    });
  </script>
</div>

