<!DOCTYPE html>
<html>
  <head>
    <title>WhichChoice</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <%= link_to root_path do %>
            <h1>あなたは<span class="point-color">どっち</span>派？？</h1>
          <% end %>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="text-right">
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <% if admin_admin_signed_in? %>
                <%= link_to admin_users_path do %>
                  <button type="button" class="btn btn-light">会員一覧</button>
                <% end %>
                <%= link_to admin_top_path do %>
                  <button type="button" class="btn btn-light">投稿一覧</button>
                <% end %>
                <%= link_to admin_genres_path do %>
                  <button type="button" class="btn btn-light">ジャンル一覧</button>
                <% end %>
                <%= link_to destroy_admin_admin_session_path, method: :delete do %>
                  <button type="button" class="btn btn-light">ログアウト</button>
                <% end %>
              <% elsif user_signed_in? %>
                <%= link_to questions_path do %>
                  <button type="button" class="btn btn-light">投稿一覧</button>
                <% end %>
                <%= link_to users_path do %>
                  <button type="button" class="btn btn-light">マイページ</button>
                <% end %>
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <button type="button" class="btn btn-light">ログアウト</button>
                <% end %>
              <% else %>
                <%= link_to about_path do %>
                  <button type="button" class="btn btn-light">About</button>
                <% end %>
                <%= link_to questions_path do %>
                  <button type="button" class="btn btn-light">投稿一覧</button>
                <% end %>
                <%= link_to new_user_registration_path do %>
                  <button type="button" class="btn btn-light">新規投稿</button>
                <% end %>
                <%= link_to new_user_session_path do %>
                  <button type="button" class="btn btn-light">ログイン</button>
                <% end %>
                <%= link_to users_guest_sign_in_path, method: :post do %>
                  <button type="button" class="btn btn-light">ゲストログイン</button>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <div class="container mt-3">
        <div id="notice">
          <% if flash[:notice] %>
            <p><%= flash[:notice] %></p>
          <% end %>
        </div>

        <div id="alert">
          <% if flash[:alert] %>
            <p><%= flash[:alert] %></p>
          <% end %>
        </div>

        <%= yield %>
      </div>
    </main>

    <footer>
      <div class="container text-center">
        <p>(c) 2021 Which choice</p>
      </div>
    </footer>
  </body>
</html>
